/* Navbar background */
.navbar {
    background-color: #3D5229!important;
}

/* Navbar Links */
.nav-item {
    float: right;
}

/* Background */
body {
    background-color: #C0C0C0;
}

/* Containers */
.card {
    margin: 20px;
    background-color:#CFDBC5;
}

/* Images Properties */
.portfolioImage {
    margin: 20px;
    border-color: #3B5323;
    border-width: 3px;
    border-style: solid;
}

/* Footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 40px;
   background-color: #C0D9AF;
   text-align: center;
  }

/* Top bar of footer */
  .footer2 {
    background-color: #484D46;
    height: 5px;
    width: 100%;
}